<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/662628882d.js"></script>

</head>

<body>
<!-- NAVbAR -->
<div class="cover">

</div>
<div class="nav">
  <div class="home-btn"><a href="/home"><i class="fas fa-home "></i></a></div>
  <div class="searchbar">
  <input type="text" class="search-text" placeholder="Search">
  <a href="#" class="search-btn">
  <i class="fas fa-search"></i>
  </a>
  </div>

</div>
<div class="bp">

</div>



   <div class="page content-1">
   <!-- all content goes here -->
    <div class="shadow1" id="profile">
      <div id="dp">
          <!-- <button type="button" class="btn btn-outline-info"><i class="fas fa-user-plus"></i></button> -->
      </div>
      <div id="aboutme">
        <div class="aboutme">
          <h2 >About me</h2>
           <p>Lorem ipsum dolor sit amet. Voluptatibus, sequi consequuntur nisi, cum dicta natus deserunt aspernatur rerum eveniet..</p>
           <a href="#">Read more!</a>
        </div>
       </div>
    </div>


    <div class="shadow1" id="info">

      <div class="stats shadow1">
        <h1 id="numPosts"><%=numposts%></h1>
        <footer>posts</footer>
      </div>
      <div class="stats shadow1">
        <h1><%=followers%></h1>
        <a href="/followers"><footer>followers</footer></a>
      </div>
      <div class="stats shadow1">
        <h1><%=friends%></h1>
        <a href="/friends"><footer>Friends</footer></a>
      </div>

    </div>


    <div id="name-box">

      <h3><%=name%></h3>
      <footer><em>Food, Travel, Music</em></footer>

    </div>
    <div class="box shadow1" id="top-post">
      <h4><%=posts[0].caption%></h4>
      <p><%=posts[0].body%></p>
      <img src="<%=posts[0].picture%>" alt="pic1" height="100%" width="100%">

    </div>


   </div>

<!-- buttons -->
<div class="buttons">
      <a href="/changeDP"><div class="btn btn-info" >Change DP</div></a>
      <a href="/changeCP"><div class="btn btn-primary">Change CP</div></a>
      <a href="/changeBP"><div class="btn btn-success">Change BP</div></a>
</div>

   <!-- load other posts -->
<div class="page content-2">
 <% for(let i = 1; i<numposts ;i++){ %>
  <div class="box shadow1">
    <h4><%=posts[i].caption%></h4>
    <p><%=posts[i].body%></p>
    <img src="<%=posts[i].picture%>" alt="pic1" height="100%" width="100%">
  </div>
<% } %>
</div>


 <!-- footer -->
 <div class="main-footer">

 </div>

   <!-- scripts -->
   <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
   <script>
       $(document).ready(function(){
            $('.cover').css({"background":"url(<%=cp%>)","background-size":"cover", "background-position" : "center"});
            $('#dp').css({"background":"url(<%=dp%>)","background-size":"cover", "background-position" : "center"});
            $('.bp').css({"background":"url(<%=bp%>)","background-size":"cover", "background-position" : "center"});
       });

   </script>



</body>
</html>
